.statistics {
  font-size: 13px;

  ion-row {
    line-height: .75rem;
  }

  .extracted-text-statistic {
    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .updated-timestamps {
    margin-top: 5px;

    ion-col {
      text-align: left;
    }
  }
}
