<ion-grid style="background-color: var(--ion-color-light);">
  <ion-row>
    <ion-col size="8">
      <ion-img
        [src]="photo.webviewPath"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
  
<ion-card>
  <ion-card-header>
    <ion-card-title>Foto Informationen</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="photoForm">
      <ion-item>
        <ion-label position="floating">Information</ion-label>
        <ion-textarea formControlName="info"></ion-textarea>
      </ion-item>
    </form>
  </ion-card-content>

  <ion-button expand="full" (click)="save()" (keydown.enter)="save()">Speichern</ion-button>
  <ion-button expand="full" (click)="cancel()" (keydown.enter)="cancel()">Abbrechen</ion-button>
</ion-card>
