<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title> {{ cardTitle }}</ion-card-title>
    <ion-card-subtitle>
      {{ "FEATURE.WORKFLOW_STEPS." + workflowStep | translate }}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div class="ion-text-center">
      <ng-container *ngIf="workflowStep === WorkflowStep.SelectPhoto">
        <div class="ion-text-left">
          <p class="ion-padding">
            {{ "FEATURE.CARD.INFO" | translate }}
          </p>
          <p class="ion-padding">
            {{ "FEATURE.CARD.INFO-2" | translate }}
          </p>
          <p class="ion-padding">
            {{ "FEATURE.CARD.INFO-3" | translate }}
          </p>
        </div>
        <app-spinner *ngIf="isLoading"></app-spinner>
        <ion-button
          fill="clear"
          [disabled]="isLoading"
          (click)="makePhoto()"
          (keydown.enter)="makePhoto()"
          ><ion-icon name="camera-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.CAMERA" | translate }}</ion-button
        >
        <ion-button
          fill="clear"
          [disabled]="isLoading"
          (click)="selectPhotoFromGallery()"
          (keydown.enter)="selectPhotoFromGallery()"
          ><ion-icon name="image-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.GALLERY" | translate }}</ion-button
        >
        <ion-button
          name="load-data"
          fill="clear"
          [disabled]="isLoading"
          (click)="selectPhotosFromStorage($event)"
          (keydown.enter)="selectPhotosFromStorage($event)"
          ><ion-icon name="images-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.LOAD_HISTORY" | translate }}</ion-button
        >
      </ng-container>

      <ng-container *ngIf="workflowStep === WorkflowStep.ExtractText">
        <ion-img
          *ngIf="selectedPhoto"
          [src]="selectedPhoto.webviewPath"
          class="selected-photo"
          alt="extract text from displayed image"
        />
        <app-spinner *ngIf="isLoading"></app-spinner>
        <ion-button
          name="extract-text"
          fill="clear"
          [disabled]="isLoading"
          (click)="extractTextFromPhoto()"
          (keydown.enter)="extractTextFromPhoto()"
          ><ion-icon name="list-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.EXTRACT_TEXT" | translate }}</ion-button
        >
        <ion-button
          name="back-to-previous"
          fill="clear"
          [disabled]="isLoading"
          (click)="clear($event)"
          (keydown.enter)="clear($event)"
          ><ion-icon name="backspace-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.BACK_TO_PREVIOUS" | translate }}</ion-button
        >
      </ng-container>

      <ng-container *ngIf="workflowStep === WorkflowStep.DisplayExtractedText">
        <app-feature-result
          *ngIf="selectedPhoto"
          [selectedHistoryPhoto]="selectedPhoto"
          [extractedText]="extractedText"
          [textStatistics]="textStatistics"
        ></app-feature-result>

        <app-spinner *ngIf="isLoading"></app-spinner>
        <div>
          <ion-button
            fill="clear"
            [disabled]="isLoading"
            (click)="addInfo()"
            (keydown.enter)="addInfo()"
            ><ion-icon name="create-outline" slot="start"></ion-icon>
            {{ getInfoButtonLabel(selectedPhoto) | translate }}</ion-button
          >
          <ion-button
            name="back-to-previous"
            fill="clear"
            [disabled]="isLoading"
            (click)="clear($event)"
            (keydown.enter)="clear($event)"
            ><ion-icon name="backspace-outline" slot="start"></ion-icon>
            {{ "FEATURE.CARD.BUTTON.BACK_TO_PREVIOUS" | translate }}</ion-button
          >
        </div>
      </ng-container>

      <ng-container
        *ngIf="workflowStep === WorkflowStep.DisplayResultsFromStorage"
      >
        <div>
          {{ "FEATURE.CARD.LABEL.NUMBER_OF_IMAGES" | translate }}:
          {{ photoService.photos.length }}
        </div>
        <ion-grid>
          <ion-row>
            <ion-col
              size="12"
              *ngFor="let photo of photoService.photos; let position = index"
            >
              <ion-img
                [src]="photo.webviewPath"
                (click)="selectHistoryPhoto(photo)"
                (keydown.enter)="selectHistoryPhoto(photo)"
              />
            </ion-col>
          </ion-row>
        </ion-grid>
        <app-spinner *ngIf="isLoading"></app-spinner>
        <ion-button
          *ngIf="photoService.photos.length > 0"
          fill="clear"
          [disabled]="isLoading"
          (click)="deleteAllPhotos()"
          (keydown.enter)="deleteAllPhotos()"
          ><ion-icon name="trash-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.DELETE_ALL" | translate }}</ion-button
        >
        <ion-button
          name="back-to-previous"
          fill="clear"
          [disabled]="isLoading"
          (click)="clear($event)"
          (keydown.enter)="clear($event)"
          ><ion-icon name="backspace-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.BACK_TO_PREVIOUS" | translate }}</ion-button
        >
      </ng-container>
      <ng-container *ngIf="workflowStep === WorkflowStep.ManageHistory">
        <div class="photo-iterator">
          <ion-button
            size="small"
            *ngIf="hasPreviousImage"
            name="previous-image"
            fill="clear"
            (click)="getPreviousImage()"
            (keydown.enter)="getPreviousImage()"
            ><ion-icon name="arrow-back-outline" slot="start"></ion-icon>
            {{ "FEATURE.CARD.BUTTON.PREVIOUS_IMAGE" | translate }}</ion-button
          >
          <ion-button
            *ngIf="hasNextImage"
            name="next-image"
            size="small"
            fill="clear"
            (click)="getNextImage()"
            (keydown.enter)="getNextImage()"
            ><ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            {{ "FEATURE.CARD.BUTTON.NEXT_IMAGE" | translate }}</ion-button
          >
        </div>
        <app-feature-result
          *ngIf="selectedHistoryPhoto"
          [selectedHistoryPhoto]="selectedHistoryPhoto"
          [extractedText]="extractedText"
          [textStatistics]="textStatistics"
        ></app-feature-result>

        <app-spinner *ngIf="isLoading"></app-spinner>
        <ion-button
          name="change-info"
          fill="clear"
          [disabled]="isLoading"
          (click)="changeInfo()"
          (keydown.enter)="changeInfo()"
          ><ion-icon name="create-outline" slot="start"></ion-icon>
          {{ getInfoButtonLabel(selectedHistoryPhoto) | translate }}</ion-button
        >
        <ion-button
          name="copy-data"
          fill="clear"
          [disabled]="isLoading"
          (click)="copyData()"
          (keydown.enter)="copyData()"
          ><ion-icon name="copy-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.COPY_DATA" | translate }}</ion-button
        >
        <ion-button
          fill="clear"
          [disabled]="isLoading"
          name="delete-data"
          (click)="deleteTextAndPhoto($event)"
          (keydown.enter)="deleteTextAndPhoto($event)"
          ><ion-icon name="trash-bin-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.DELETE_DATA" | translate }}</ion-button
        >
        <ion-button
          name="back-to-history"
          fill="clear"
          [disabled]="isLoading"
          (click)="backToHistory($event)"
          (keydown.enter)="backToHistory($event)"
          ><ion-icon name="backspace-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.BACK_TO_PREVIOUS" | translate }}</ion-button
        >
      </ng-container>
    </div>
  </ion-card-content>
</ion-card>
