<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>{{ "FEATURE.CARD.TITLE" | translate }}</ion-card-title>
    <ion-card-subtitle>
      {{ "FEATURE.WORKFLOW_STEPS." + workflowStep | translate }}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p class="ion-padding">
      {{ "FEATURE.CARD.INFO" | translate }}
    </p>
  </ion-card-content>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="ion-text-center">
    <ng-container *ngIf="workflowStep === WorkflowStep.SelectPhoto">
      <ion-button
        fill="clear"
        (click)="makePhoto()"
        (keydown.enter)="makePhoto()"
        ><ion-icon name="camera-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.CAMERA" | translate }}</ion-button
      >
      <ion-button
        fill="clear"
        (click)="selectPhotoFromGallery()"
        (keydown.enter)="selectPhotoFromGallery()"
        ><ion-icon name="images-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.GALLERY" | translate }}</ion-button
      >
      <ion-button
        name="load-data"
        fill="clear"
        (click)="selectResultsFromStorage($event)"
        (keydown.enter)="selectResultsFromStorage($event)"
        ><ion-icon name="images-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.LOAD_DATA" | translate }}</ion-button
      >
    </ng-container>

    <ng-container *ngIf="workflowStep === WorkflowStep.ExtractText">
      <img
        [src]="selectedPhoto?.webviewPath"
        class="selected-photo"
        alt="extract text from displayed image"
      />
      <ion-button
        name="extract-text"
        fill="clear"
        (click)="extractTextFromPhoto()"
        (keydown.enter)="extractTextFromPhoto()"
        ><ion-icon name="list-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.EXTRACT_TEXT" | translate }}</ion-button
      >
      <ion-button
        name="clear"
        fill="clear"
        (click)="clear($event)"
        (keydown.enter)="clear($event)"
        ><ion-icon name="images-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.CLEAR" | translate }}</ion-button
      >
    </ng-container>

    <ng-container *ngIf="workflowStep === WorkflowStep.DisplayExtractedText">
      <img
        [src]="selectedPhoto?.webviewPath"
        class="selected-photo"
        alt="extract text from displayed image"
      />

      <ion-item>
        <ion-label class="ion-padding">
          {{ "FEATURE.CARD.LABEL.EXTRACTED_TEXT" | translate }}
        </ion-label>
      </ion-item>

      <ion-item>
        <pre>{{ extractedText }}</pre>
      </ion-item>

      <ion-item>
        <ion-label class="ion-padding">
          Anzahl Zeilen: {{ textStatistics.lineCount }}
        </ion-label>
        <ion-label class="ion-padding">
          Anzahl Wörter: {{ textStatistics.wordCount }}
        </ion-label>
        <ion-label class="ion-padding">
          Anzahl Zeichen: {{ textStatistics.characterCount }}
        </ion-label>
      </ion-item>

      <div>
        <ion-button
          fill="clear"
          (click)="saveTextAndPhoto()"
          (keydown.enter)="saveTextAndPhoto()"
          ><ion-icon name="list-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.SAVE_DATA" | translate }}</ion-button
        >
        <ion-button
          name="send-extracted-text"
          fill="clear"
          (click)="sendMail($event)"
          (keydown.enter)="sendMail($event)"
          ><ion-icon name="list-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.SEND_MAIL" | translate }}</ion-button
        >
        <ion-button
          name="clear"
          fill="clear"
          (click)="clear($event)"
          (keydown.enter)="clear($event)"
          ><ion-icon name="images-outline" slot="start"></ion-icon>
          {{ "FEATURE.CARD.BUTTON.CLEAR" | translate }}</ion-button
        >
      </div>
    </ng-container>

    <ng-container
      *ngIf="workflowStep === WorkflowStep.DisplayResultsFromStorage"
    >
      <div>Anzahl: {{ photoService.photos.length }}</div>
      <ion-grid>
        <ion-row>
          <ion-col
            size="12"
            size-md="6"
            size-lg="4"
            *ngFor="let photo of photoService.photos; let position = index"
          >
            <ion-img [src]="photo.webviewPath"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button
        name="send-from-storage"
        fill="clear"
        (click)="sendMail($event)"
        (keydown.enter)="sendMail($event)"
        ><ion-icon name="list-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.SEND_MAIL" | translate }}</ion-button
      >
      <ion-button
        fill="clear"
        (click)="deleteTextAndPhoto()"
        (keydown.enter)="deleteTextAndPhoto()"
        ><ion-icon name="list-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.DELETE_DATA" | translate }}</ion-button
      >
      <ion-button
        fill="clear"
        (click)="deleteAll()"
        (keydown.enter)="deleteAll()"
        ><ion-icon name="list-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.DELETE_ALL" | translate }}</ion-button
      >
      <ion-button
        name="clear"
        fill="clear"
        (click)="clear($event)"
        (keydown.enter)="clear($event)"
        ><ion-icon name="images-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.CLEAR" | translate }}</ion-button
      >
    </ng-container>
  </div>
</ion-card>
