<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>{{ "FEATURE.CARD.TITLE" | translate }}</ion-card-title>
    <ion-card-subtitle>
      {{ "FEATURE.WORKFLOW_STEPS." + workflowStep | translate }}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p class="ion-padding">
      {{ "FEATURE.CARD.INFO" | translate }}
    </p>
  </ion-card-content>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="ion-text-center">
    <ng-container *ngIf="workflowStep === WorkflowStep.SelectPhoto">
      <ion-button
        fill="clear"
        (click)="makePhoto()"
        (keydown.enter)="makePhoto()"
        ><ion-icon name="camera-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.CAMERA" | translate }}</ion-button
      >
      <ion-button
        fill="clear"
        (click)="selectPhotoFromGalery()"
        (keydown.enter)="selectPhotoFromGalery()"
        ><ion-icon name="images-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.GALLERY" | translate }}</ion-button
      >
      <ion-button
        name="load-data"
        fill="clear"
        (click)="selectResultsFromStorage($event)"
        (keydown.enter)="selectResultsFromStorage($event)"
        ><ion-icon name="images-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.LOAD_DATA" | translate }}</ion-button
      >
    </ng-container>

    <ng-container *ngIf="workflowStep === WorkflowStep.ExtractText">
      <ion-button
        name="extract-text"
        fill="clear"
        (click)="extractTextFromPhoto()"
        (keydown.enter)="extractTextFromPhoto()"
        ><ion-icon name="list-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.EXTRACT_TEXT" | translate }}</ion-button
      >
      <ion-button name="clear" fill="clear" (click)="clear($event)" (keydown.enter)="clear($event)"
        ><ion-icon name="images-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.CLEAR" | translate }}</ion-button
      >
    </ng-container>

    <ng-container *ngIf="workflowStep === WorkflowStep.DisplayExtractedText">
      <ion-button
        fill="clear"
        (click)="saveTextAndPhoto()"
        (keydown.enter)="saveTextAndPhoto()"
        ><ion-icon name="list-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.SAVE_DATA" | translate }}</ion-button
      >
      <ion-button
        name="send-extracted-text"
        fill="clear"
        (click)="sendMail($event)"
        (keydown.enter)="sendMail($event)"
        ><ion-icon name="list-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.SEND_MAIL" | translate }}</ion-button
      >
      <ion-button name="clear" fill="clear" (click)="clear($event)" (keydown.enter)="clear($event)"
        ><ion-icon name="images-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.CLEAR" | translate }}</ion-button
      >
    </ng-container>

    <ng-container
      *ngIf="workflowStep === WorkflowStep.DisplayResultsFromStorage"
    >
      <ion-button
        name="send-from-storage"
        fill="clear"
        (click)="sendMail($event)"
        (keydown.enter)="sendMail($event)"
        ><ion-icon name="list-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.SEND_MAIL" | translate }}</ion-button
      >
      <ion-button
        fill="clear"
        (click)="deleteTextAndPhoto()"
        (keydown.enter)="deleteTextAndPhoto()"
        ><ion-icon name="list-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.DELETE_DATA" | translate }}</ion-button
      >
      <ion-button name="clear" fill="clear" (click)="clear($event)" (keydown.enter)="clear($event)"
        ><ion-icon name="images-outline" slot="start"></ion-icon>
        {{ "FEATURE.CARD.BUTTON.CLEAR" | translate }}</ion-button
      >
    </ng-container>
  </div>
</ion-card>
